body {
   background: url("smith-background.jpg")center no-repeat;
   background-position: cover;
   text-align: center;
   height: 500px;
   font-size:1.5em;
}

h1 {
<<<<<<< HEAD
   color: purple;
=======
   color: green;
>>>>>>> 1119c411cd2e52eb1646e7d54ec30dfb06481625
   font-family: "Lobster", cursive;
}

p {
   font-family: "Raleway", sans-serif;
}
